@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --category-blue: #444e8d;
  --category-blue-dark: #2a2f4e;
  --category-orange: #ffbf42;
  --category-orange-dark: #ff8a00;
  --category-red: #d94f4f;
  --category-red-dark: #a02e41;
  --category-green: #82e49a;
  --category-green-dark: #4f9d69;
  --silver-grey: #414042;
  --cold-blue: #3f3a54;
  --cold-blue-strong: #363b5c;
  --violet-red: #8e2f3f;
  --grey-light: #f4f4f4;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    Open Sans,
    sans-serif;
}

h1 {
  @apply py-3 text-2xl font-bold text-cold-blue-strong sm:py-6 md:py-10 md:text-3xl;
}

h2 {
  @apply text-xl font-bold text-cold-blue-strong md:text-2xl;
}

h3 {
  @apply text-lg font-bold text-cold-blue-strong md:text-xl;
}

@layer base {
  .rounded-diagonal-lg {
    @apply rounded-br-[40px] rounded-tl-[40px];
  }

  .rounded-diagonal-md {
    @apply rounded-br-[30px] rounded-tl-[30px];
  }

  .embla {
    overflow: hidden;
  }

  .embla__container {
    display: flex;
  }

  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }

  .embla__slide:not(:first-child) {
    margin-left: 20px;
  }

  .embla__slide:not(:last-child) {
    margin-right: 20px;
  }
}
